
* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

/*HEADER*/
header{
    width:100%;
    height:100px;
    background-color:white;
}

header .header-logo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #111;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
   
}
header nav {
    display: block;
    margin: 0 auto;
    text-align:center;
} 
header nav ul
{
  display:block;
  margin:0 auto;
  width:fit-content;

}
header nav ul li {
    display: inline-block;
    float: left; /*to avoid slight gap between the links*/
    list-style: none;
    padding: 0 16px;
    
}
header nav ul li a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: #111;
    text-decoration: none;
    padding: 10px;
}
.header-register{
    display:none;
}
@media only screen and (min-width:1000px){
    header .header-logo {
      float:left;
      margin-left:20px;
     padding:0;
     margin-top:36.25px;
    }
    header nav {
        float: right;
        margin-right: 20px;
        padding: 0;
        margin-top:40px;
    }
    header nav ul li a {
       
        font-size: 24px;
      
    }
}
/*MAIN*/
.entry-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image:url("../images/backgroundbooks.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
   
}
.vertical-center{
    display:table-cell;
    vertical-align:middle;
    
}
.entry-banner h2 {
    color: #fff;
    font-size: 60px;
    line-height: 70px;
    font-weight: 900;
    text-shadow: 2px 2px 2px #111;
    text-align: center;
    
}
.entry-banner h1 {
    color: #fff;
    font-size: 28px;
    font-weight:100;
    line-height:40px;
    text-shadow: 2px 2px 2px #111;
    font-style: italic;
    text-align: center;
}


.vertical-center ul{
    width:fit-content;
  display:block;
  margin:0 auto;
  padding-top:15px;
}
.vertical-center ul li {
    display: inline-block;
    float: left; /*to avoid slight gap between the links*/
    list-style: none;
    padding: 0 16px;
}
.vertical-center ul li a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: #fff;
    padding: 6px;
    border: 2px solid #111;
    border-radius: 8px;
    text-shadow: 2px 2px 2px #111;
}
.vertical-center ul li a:focus {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    border: 2px solid #111;
    border-radius: 8px;
    background-color: deepskyblue;
    text-shadow: 2px 2px 2px #111;
}

.login-table {
    width: fit-content;
    display: block;
    margin: 0 auto;
    background-color:#111;
    opacity:0.7;
    color:#fff;
    border-radius:8px;
    padding:20px;
    font-size:16px;
    line-height:20px;
}
    .login-table input[type=text] {
        border-style: none;
      
        border-bottom: 2px solid #fff;
        background-color: transparent;
        width: 100%;
        color: #fff !important;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .login-table input[type=text]:focus{
        border-style: none;
    
        border-bottom: 2px solid #fff;
        background-color: transparent;
        width: 100%;
        color: #fff !important;
        padding-bottom: 10px;
        padding-top: 10px;
    }
.myInput:focus{
    outline-color:transparent;
    border:1px solid #111;
}
.login-table input[type=submit] {
    display: block;
    margin: 0 auto;
    background-color: lightblue;
    margin-top: 20px;
    font-size: 14px;
    padding: 5px;
    border-radius: 8px;
}
.login-table input[type=submit]:hover {
    display: block;
    margin: 0 auto;
    background-color: deepskyblue;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 24px;
    padding: 8px;
}
.login-table a {
    color:dodgerblue;
    font-size:20px;
    font-weight:500;

}

@media only screen and (min-width:1000px) {
    .entry-banner {
        height: 680px;
    }
    .entry-banner h2 {
       
        font-size: 70px;
        line-height: 80px;
       
       
    }
    .entry-banner h1 {
       
        font-size: 34px;
        
        line-height: 45px;
      
    }
    .vertical-center ul li a {
       
        font-size: 24px;
       
        padding: 8px;
      
    }
}



/*FOOTER*/
footer {
    width: 100%;
    background-color: #111;
    color: #fff;
    font-size: 16px;
    padding: 40px 0px;
    overflow: hidden;
}
footer ul{
    width:fit-content;
    float:left;
    padding-left:20px;
}
footer ul li{
    display:block;
    list-style:none;
}
footer ul li a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height:30px;
}
.footer-link-1
{
   

}

.footer-link-2 {
 display:none;
}
.footer-social-media{
    float:right;
    padding-right:20px;
}

.footer-social-media img {
    height: 24px;
    width: 24px;
}
